{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center align-self-center">
        <div class="col-md-6 ">
            <form action="" method="post">
                {% csrf_token %}
                {{ error }}
                {{ form.as_p }}
                <div class="text-center d-flex flex-column mb-2">
                    <button type="submit" class="btn btn-success mt-3" id="submit_reg">Отправить</button>
                </div>
            </form>
        </div>
    </div>


</div>
{% endblock %}