{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Все проекты пользователей</h1>
        <div class="btn-toolbar mx-auto justify-content-center" style="max-width: 800px;">
            <button type="button" class="btn btn-outline-success btn-lg">
                <a href="/bot/editor" style="text-decoration: none; color: rgb(0, 0, 0)">Создать</a>
            </button>
        </div>
        <div class="projects mx-auto">
        {% if projects %}
            {% for project in projects %}
            {{ pro }}
            <div class="card border-secondary mx-auto project-card" style="margin-top: 20px; margin-bottom: 20px">
                  <div class="card-body">
                    <div class="d-flex mx-auto justify-content-between">
                       <h3 class="card-title">{{ project.name }}</h3>
                     </div>
                   <p class="card-description text-secondary">{{ project.description }}</p>
                   <a href="bot/{{ project.tag }}" class="card-link text-reset">Ссылка на проект</a>
                  </div>
            </div>
            {% endfor %}
        {%else%}
            <h4 class="text-center" style="margin-top: 20px; margin-bottom: 30px">Нет проектов</h4>
        {% endif %}
        </div>
    </div>
{% endblock %}
