{% extends "base/base.html" %}
{% block content %}
	<main style="max-width: 800px; margin: 20px auto">
		<div class="votings mx-auto">
            <div class="card border-secondary mx-auto voting-card">
                <!-- voting -->
				<div class="card-body">
                    <div class="d-flex mx-auto justify-content-between">
                        <h3 class="card-title">{{ title }}</h3>
                    </div>
					<p class="card-description">{{ description }}</p>

					<button class="btn btn-primary"><a href="/bot/editor" class="text-decoration-none text-white">Изменить</a></button>
                    <button class="btn btn-danger"><a href="/complaint" class="text-decoration-none text-white">Пожаловаться</a></button>
				</div>
            </div>
    </div>
	</main>
{% endblock %}
