<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
{% load bootstrap5 %}
	<title>Создание бота</title>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- jQuery & jQuery UI are required -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<!-- Flowchart CSS and JS -->
	<link rel="stylesheet" href="{% static 'js/flowchart/jquery.flowchart.css' %}">
	<script src="{% static 'js/flowchart/jquery.flowchart.js' %}"></script>
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<style>
		.flowchart-example-container {
			width: 1200px;
			height: 600px;
			background: white;
			border: 2px solid #BBB;
			margin-bottom: 10px;
		}
	</style>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'Главная' %}"><img src="{% static 'img/botcreator_logo_white.png' %}" alt="logotype" style="height: 35px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/all_projects/">Все боты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Форум' %}">Форум</a>
                    </li>
                </ul>
                <form class="col-md-6">
                    {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control border border-right-0" id="search_label" placeholder="Искать проекты...">
                            <span class="input-group-append">
                                <button class="btn btn-outline-light border border-left-0" type="submit" style="height: 45px;">
                                    <i class="las la-search"></i>
                                </button>
                            </span>
                        </div>
                </form>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <a class="nav-link" href="/profile/{{ profile.id }}">{{ user.username }}</a>
                        <a class="nav-link" href="/logout">Выйти</a>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        <a class="nav-link" href="{% url 'login' %}">Вход</a>
                        <a class="nav-link" href="{% url 'Регистрация' %}">Регистрация</a>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

<main class="container">
	<h4>Интерактивная доска</h4>
	<div id="chart_container">
		<div class="flowchart-example-container" id="flowchartworkspace"></div>
	</div>

	<button class="create_operator btn btn-primary">Создать команду</button>
	<button class="delete_selected_button btn btn-primary">Удалить блок\связь</button>
	<div id="operator_properties btn btn-primary" style="display: block; margin-top: 10px">
		<label for="operator_title">Название: </label><input id="operator_title" type="text">
	</div>
	<div id="link_properties" style="display: block;">
		<label for="link_color">Цвет связи: </label><input id="link_color" type="color">
	</div>

	<div class="draggable_operators">
		<div class="draggable_operators_label">
			Команды и ивенты (перетаскивайте их на интерактивную доску):
		</div>
		<div class="draggable_operators_divs">
			<h4>Ивенты</h4>
			<div class="draggable_operator" data-nb-inputs="0" data-nb-outputs="1">на_сообщение</div>
			<div class="draggable_operator" data-nb-inputs="0" data-nb-outputs="1">присоединился</div>
			<h4>Действия</h4>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">прислать_сообщение("")</div>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">ответить("")</div>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">прислать_закреплённые_смс</div>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">удалить_сообщение</div>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">закрепить_сообщение</div>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">добавить_реакцию("") </div>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">открепить_все_смс</div>
			<h4>Логические выражения</h4>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">если_cообщение_равно(""):</div>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">если_cообщение_не_равно(""):</div>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">если_сообщение_содержит(""):</div>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">если_сообщение_не_содержит(""):</div>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">если_нет</div>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">если_не_бот</div>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">если_бот</div>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">конец_если</div>
			<h4>Обязательно для конца ивента или команды</h4>
			<div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="0">конец</div>
		</div><br><br>
	</div>
	<!-- <button class="get_data" id="get_data">Get data</button>
	<button class="set_data" id="set_data">Set data</button>
	<button id="save_local">Save to local storage</button>-->
	<button class="btn btn-primary" style="display: None" id="load_local">Load from local storage</button>
	<form action="" method="post">
		{% csrf_token %}
		<div style="margin-bottom: 10px">
			<label for="bot_token">token</label>
			<input type="text" id="bot_token" name="bot_token"><br>
			<label for="name">Название бота</label>
			<input type="text" id="name" name="name"><br>
			<label for="description">Описание бота</label>
			<input type="text" id="description" name="description"><br>
			<textarea id="flowchart_data" name="flowchart" style="display: None"></textarea>
		</div>
		<button class="btn btn-primary" name="create" id="save_local" type="submit" class="primary">Создать</button>
		<button class="btn btn-primary" name="save" id="save" type="submit">Сохранить</button>
		<button class="btn btn-primary" name="start" id="start" type="submit">Запустить</button>
		<button class="btn btn-primary" name="stop" id="stop" type="submit">Остановить</button>
	</form>
	<textarea style="width:1200px; height:1000px; margin-top: 10px">{{bot_str}}</textarea>
</main>
	<script type="text/javascript">
		/* global $ */
		$(document).ready(function() {
			var $flowchart = $('#flowchartworkspace');
			var $container = $flowchart.parent();


			// Apply the plugin on a standard, empty div...
			$flowchart.flowchart({
				data: defaultFlowchartData,
				defaultSelectedLinkColor: '#000055',
				grid: 10,
				multipleLinksOnInput: true,
				multipleLinksOnOutput: true
			});


			function getOperatorData($element) {
				var nbInputs = parseInt($element.data('nb-inputs'), 10);
				var nbOutputs = parseInt($element.data('nb-outputs'), 10);
				var data = {
					properties: {
						title: $element.text(),
						inputs: {},
						outputs: {}
					}
				};

				var i = 0;
				for (i = 0; i < nbInputs; i++) {
					data.properties.inputs['input_' + i] = {
						label: 'вход'
					};
				}
				for (i = 0; i < nbOutputs; i++) {
					data.properties.outputs['output_' + i] = {
						label: 'выход'
					};
				}

				return data;
			}



			//-----------------------------------------
			//--- operator and link properties
			//--- start
			var $operatorProperties = $('#operator_properties');
			$operatorProperties.hide();
			var $linkProperties = $('#link_properties');
			$linkProperties.hide();
			var $operatorTitle = $('#operator_title');
			var $linkColor = $('#link_color');

			$flowchart.flowchart({
				onOperatorSelect: function(operatorId) {
					$operatorProperties.show();
					$operatorTitle.val($flowchart.flowchart('getOperatorTitle', operatorId));
					return true;
				},
				onOperatorUnselect: function() {
					$operatorProperties.hide();
					return true;
				},
				onLinkSelect: function(linkId) {
					$linkProperties.show();
					$linkColor.val($flowchart.flowchart('getLinkMainColor', linkId));
					return true;
				},
				onLinkUnselect: function() {
					$linkProperties.hide();
					return true;
				}
			});

			$operatorTitle.keyup(function() {
				var selectedOperatorId = $flowchart.flowchart('getSelectedOperatorId');
				if (selectedOperatorId != null) {
					$flowchart.flowchart('setOperatorTitle', selectedOperatorId, $operatorTitle.val());
				}
			});

			$linkColor.change(function() {
				var selectedLinkId = $flowchart.flowchart('getSelectedLinkId');
				if (selectedLinkId != null) {
					$flowchart.flowchart('setLinkMainColor', selectedLinkId, $linkColor.val());
				}
			});
			//--- end
			//--- operator and link properties
			//-----------------------------------------

			//-----------------------------------------
			//--- delete operator / link button
			//--- start
			$flowchart.parent().siblings('.delete_selected_button').click(function() {
				$flowchart.flowchart('deleteSelected');
			});
			//--- end
			//--- delete operator / link button
			//-----------------------------------------



			//-----------------------------------------
			//--- create operator button
			//--- start
			var operatorI = 0;
			$flowchart.parent().siblings('.create_operator').click(function() {
				var operatorId = 'created_operator_' + operatorI;
				var operatorData = {
					top: ($flowchart.height() / 2) - 30,
					left: ($flowchart.width() / 2) - 100 + (operatorI * 10),
					properties: {
						title: 'command',
						inputs: {},
						outputs: {
							output_1: {
								label: 'выход',
							}
						}
					}
				};

				operatorI++;

				$flowchart.flowchart('createOperator', operatorId, operatorData);

			});
			//--- end
			//--- create operator button
			//-----------------------------------------




			//-----------------------------------------
			//--- draggable operators
			//--- start
			//var operatorId = 0;
			var $draggableOperators = $('.draggable_operator');
			$draggableOperators.draggable({
				cursor: "move",
				opacity: 0.7,

				// helper: 'clone',
				appendTo: 'body',
				zIndex: 1000,

				helper: function(e) {
					var $this = $(this);
					var data = getOperatorData($this);
					return $flowchart.flowchart('getOperatorElement', data);
				},
				stop: function(e, ui) {
					var $this = $(this);
					var elOffset = ui.offset;
					var containerOffset = $container.offset();
					if (elOffset.left > containerOffset.left &&
						elOffset.top > containerOffset.top &&
						elOffset.left < containerOffset.left + $container.width() &&
						elOffset.top < containerOffset.top + $container.height()) {

						var flowchartOffset = $flowchart.offset();

						var relativeLeft = elOffset.left - flowchartOffset.left;
						var relativeTop = elOffset.top - flowchartOffset.top;

						var positionRatio = $flowchart.flowchart('getPositionRatio');
						relativeLeft /= positionRatio;
						relativeTop /= positionRatio;

						var data = getOperatorData($this);
						data.left = relativeLeft;
						data.top = relativeTop;

						$flowchart.flowchart('addOperator', data);
					}
				}
			});
			//--- end
			//--- draggable operators
			//-----------------------------------------


			//-----------------------------------------
			//--- save and load
			//--- start
			function Flow2Text() {
				var data = $flowchart.flowchart('getData');
				$('#flowchart_data').val(JSON.stringify(data, null, 2));
			}
			$('#get_data').click(Flow2Text);

			function Text2Flow() {
				var data = JSON.parse($('#flowchart_data').val());
				$flowchart.flowchart('setData', data);
			}
			$('#set_data').click(Text2Flow);

			/*global localStorage*/

			function SaveToLocalStorage() {
				if (typeof localStorage !== 'object') {
					alert('local storage not available');
					return;
				}
				Flow2Text();
				localStorage.setItem("stgLocalFlowChart", $('#flowchart_data').val());
			}
			$('#save_local').click(SaveToLocalStorage);

			function LoadFromLocalStorage() {
				if (typeof localStorage !== 'object') {
					alert('local storage not available');
					return;
				}
				var s = localStorage.getItem("stgLocalFlowChart");
				if (s != null) {
					$('#flowchart_data').val(s);
					Text2Flow();
				}
				else {
					alert('local storage empty');
				}
			}
			$('#load_local').click(LoadFromLocalStorage);
			//--- end
			//--- save and load
			//-----------------------------------------

			var EmptyData = {
			operators: {},
			links: {}
		};

			let a = document.getElementById("load_local");
			a.click();
		});

		var defaultFlowchartData = {
			operators: {
				operator1: {
					top: 20,
					left: 20,
					properties: {
						title: 'Operator 1',
						inputs: {},
						outputs: {
							output_1: {
								label: 'Output 1',
							}
						}
					}
				},
				operator2: {
					top: 80,
					left: 300,
					properties: {
						title: 'Operator 2',
						inputs: {
							input_1: {
								label: 'Input 1',
							},
							input_2: {
								label: 'Input 2',
							},
						},
						outputs: {}
					}
				},
			},
			links: {
				link_1: {
					fromOperator: 'operator1',
					fromConnector: 'output_1',
					toOperator: 'operator2',
					toConnector: 'input_2',
				},
			}
		};
		if (false) console.log('remove lint unused warning', defaultFlowchartData);

	</script>

</body>

</html>
