{% extends 'base/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock %}

{% block content %}
<div class="container">
    <h3>Жалоба на бота</h3>
    <form action="{% url 'complaint_checker' %}" method="POST" class="mb-4">{% csrf_token %}
        <textarea class="w-50 mb-2" rows="1" placeholder="ID бота" name="contentid"></textarea>
        <textarea class="w-100 mb-2" rows="4" placeholder="Причина жалобы" name="reason"></textarea>
        <button type="submit" class="btn btn-outline-success">Отправить на рассмотрение</button>
    </form>
</div>
{% endblock %}
