{% extends 'base/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom: 30px">
        <h1>Ваша жалоба на голосование {{ content_id }} по причине «{{ reason }}» была успешно отправлена.</h1>
        <h3>Наши администраторы проверят её как можно скорее ;)</h3>
    </div>
{% endblock %}

