{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-start pb-4">
        <h1 class="fw-bold">Форум</h1>
        <a class="text-reset align-text-bottom" style="padding-top: 25px; padding-left: 10px;" href="https://youtu.be/dQw4w9WgXcQ">Правила</a>

    </div>
     {% if user.is_authenticated %}
            <a href="{% url 'Добавить вопрос' %}"><button type="button" class="btn btn-success btn-sm">Добавить вопрос</button></a>
    {% endif %}
    <table class="table">
  <thead>
    <tr class="question">
      <th scope="col">Название</th>
      <th scope="col">Пользователь</th>
      <th scope="col">Дата</th>
<!--      <th scope="col" class="text-center">Ответы</th>-->
    </tr>
  </thead>
  <tbody>
  {% for question in questions %}
    <tr class="question">
      <td>
          <a class="question-title" href="question/{{ question.id }}">
              {{ question.title }}<br>
          </a>

          <div class="d-flex justify-content-start">
              {% if question.difficulty == 'easy' %}
                <div class="easy-question"></div>
                <p>Лёгкий</p>
                {% elif question.difficulty == 'middle' %}
                <div class="average-question"></div>
                <p>Средний</p>
                {% elif question.difficulty == 'hard' %}
                <div class="difficult-question"></div>
                <p>Сложный</p>
              {% endif %}
<!--              <p>{{ question.title }}</p>-->
          </div>

      </td>
      <td class="question-author-td"><a class="question-author-text" href="/profile/{{ question.author }}">{{ question.author }} </a></td>
      <td>19.03.2023</td>
    </tr>

  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}