{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock %}

{% block content %}
<div class="container">
<!--    <h1 class="fw-bold">Что такое events?</h1>-->
    <h1 class="fw-bold">{{ question.title }}</h1>
<!--    <h5>Давно хотел у вас спросить что это такоеДавно хотел у вас спросить что это такоеДавно хотел у вас спросить что это такоеДавно хотел у вас спросить что это такоеДавно хотел у вас спросить что это такоеДавно хотел у вас спросить что это такоеДавно хотел у вас спросить что это такоеДавно хотел у вас спросить что это такоеДавно хотел у вас спросить что это такоеДавно хотел у вас спросить что это такоеДавно хотел у вас спросить что это такоеДавно хотел у вас спросить что это такое</h5>-->
    <h5>{{ question.description }}</h5>
<!--    <a class="question-author-text text-reset fw-semibold">Новичок444</a>-->
    <a class="question-author-text text-reset fw-semibold" href="/profile/{{ question.author }}">{{ question.author }}</a>

    <div class="d-flex justify-content-start pt-2">
        {% if question.difficulty == 'easy' %}
        <div class="easy-question"></div>
        <p>Лёгкий</p>
        {% elif question.difficulty == 'middle' %}
        <div class="average-question"></div>
        <p>Средний</p>
        {% elif question.difficulty == 'hard' %}
        <div class="difficult-question"></div>
        <p>Сложный</p>
        {% endif %}
    </div>
<!--    <p>12.3.2023</p>-->
<!--    creation_date-->
    <p>{{ question.creation_time.day }}.{{ question.creation_time.month }}.{{ question.creation_time.year }}</p>
    <div class="fw-bold mb-2">
            <i class="las la-check"></i><span class="answers-count">{{ answers_len }}</span> ответ(ов)
    </div>

    <p class="fw-bold mb-2">Ответы на вопрос</p>
    <hr class="mt-0">

    <div class="answers mb-5">
        {% if answers_len != 0 %}
            {% for answer in answers %}
                {% if answer.forum.id == question.id %}
                <div class="answer mb-4">
                    <a class="answer-author text-reset fw-bold mb-2" href="/profile/{{ answer.user }}">{{ answer.user }}</a>
                    <p class="answer mb-0">
                        {{ answer.text }}
                    </p>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
        <p>Ответов пока нет...</p>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <h3>Написать ответ</h3>
        <form action="" method="post">
            {% csrf_token %}
            {{ error }}
            {{ form.as_p }}
            <button type="submit" class="btn btn btn-outline-success mb-5">Отправить</button>
        </form>
    {% else %}
        <textarea class="w-100 mb-2" rows="4" disabled>Войдите, чтобы писать ответы</textarea>
        <a href="/login" class="text-decoration-none text-secondary">Войти</a>
    {% endif %}

</div>
{% endblock %}