{% load static %}
<html lang="ru" class="h-100"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>BotCreator</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- Bootstrap core CSS -->
    <!--<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    -->
        <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .cover-container {
        background-image: url({% static "header-bg.jpg" %});
          background-repeat: no-repeat;
          background-position: center center;
          background-attachment: fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }

      .logo_png {
        width: 20px;
        height: 10px;
        background-image: url({% static "img/botcreator_logo_white.png" %});
          background-repeat: no-repeat;
          background-position: center center;
          background-attachment: fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% load static %}
{% load bootstrap5 %}

<header>
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'Главная' %}"><img src="{% static 'img/botcreator_logo_white.png' %}"
                                                                    alt="logotype" style="height: 35px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/all_projects/">Все боты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="forum">Форум</a>
                    </li>

                </ul>
                <form class="col-md-6">
                    {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control border border-right-0" id="search_label"
                                   placeholder="Искать проекты...">
                            <span class="input-group-append">
                                <button class="btn btn-outline-light border border-left-0" type="submit"
                                        style="height: 45px;">
                                    <i class="las la-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <a class="nav-link" href="/profile/{{ id }}">{{ user.username }}</a>
                        <a class="nav-link" href="/logout">Выйти</a>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        <a class="nav-link" href="/login/">Вход</a>
                        <a class="nav-link" href="/registration/">Регистрация</a>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

        <main class="px-3">
            <h1>Создай бота уже сегодня!</h1>
            {% if not user.is_authenticated %}
            <p class="lead">Но для начала нужно зарегистрироваться</p>
            <p class="lead">
                <a href="/registration/" class="btn btn-lg btn-secondary fw-bold border-white">Зарегистрироваться</a>
                <a href="/login/" class="btn btn-lg btn-secondary fw-bold border-white">Войти</a>
            </p>
            {% else %}
            <p class="lead">Он ждёт тебя!</p>
            <a href="/bot/editor" class="btn btn-lg btn-secondary fw-bold border-white">Создать бота</a>
            {% endif %}
        </main>

        <footer class="mt-auto text-white-50">
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                &copy; ШП, {% now "Y" %}, ms104.
                Сделано на <a class="text-reset fw-bold" href="https://getbootstrap.com">Bootstrap 5</a>
            </div>
        </footer>
    </div>
</body>
</html>