{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="static/css/test.css">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock %}
{% block content %}
<main class="form-signin m-auto row col-6 justify-content-center text-center">
  <form action="/login/" method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3">Пожалуйста, войдите</h1>
    <div class="row d-flex justify-content-center align-self-center">
      <div class="col-md-6 " style="margin-top: 20px">
         {% if error %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endif %}
          <label>{{ form.username.label }}</label>
          {{ form.username }}
          <div style="margin-top: 20px">
          {{ form.password.label }}
          {{ form.password }}
          </div>
          <button class="w-100 btn btn-lg btn-primary" style="margin-top: 20px" type="submit">Войти</button>
      </div>
    </div>
    <div class="col-md-6 " style="margin-top: 20px">



<!--    </div>-->

  </form>
</main>
{% endblock %}