{% extends 'base/base.html' %}
{% load static %}

{% block content %}
        <div class="container" style="margin-top: 20px">
            <div>
                <div class="text-center">
                    <h1>Профиль</h1>
                    <h2>{{ name }}</h2>
                    <br>
                    <div class="text-secondary" style="margin-top: -10px">Узнайте больше о пользователе!</div>
                </div>
            </div>
            <br>
            <div class="info">
                <form action="/procsigninbtn" method="post" enctype="multipart/form-data">
                    <div for="names" class="secondary-text"><h3>Персональная информация</h3></div>
                    <div name="names" class="">
                        <div class="input-group has-validation">
                        <input type="text" class="form-control" placeholder="Имя: {{ name }}" name="login_txt" required="" autocomplete="off" disabled>
                        </div><br>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" placeholder="Возраст: {{ age }}" name="name_txt" required="" autocomplete="off" disabled>
                        </div><br>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" placeholder="Статус: {{ status }}" name="st_txt" required="" autocomplete="off" disabled>
                        </div><br>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" placeholder="ID: {{ id }}" name="id_txt" required="" autocomplete="off" disabled>
                        </div><br>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}