{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center align-self-center">
        <div class="col-md-6 ">
            <div class="reg-header text-center">
                    <h2>Регистрация</h2>
                    <h5 class="text-muted">Создайте бота<br> уже сегодня</h5>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ error }}
                {{ form.name.label }} {{ form.name }}
                {{ form.status.label }} {{ form.status }}
                {{ form.password.label }} {{ form.password }}
                {{ form.sec_password.label }} {{ form.sec_password }}
                <div class="text-center d-flex flex-column mb-2">
                    <button type="submit" class="btn btn-success mt-3" id="submit_reg">Отправить</button>
                </div>
                <label class="text-muted text-center">Уже есть аккаунт? - <a href="{% url 'login' %}" class="text-reset" >войти</a></label>
            </form>
        </div>
    </div>
</div>
{% endblock %}

