<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load bootstrap5 %}

{# Отображает в django.contrib.messages #}
{% bootstrap_messages %}

    <head>
        {% include "base/head.html" %}
        {% bootstrap_css %}
        {% block extra_css %} {% endblock %}
        <title>{{ pagename }}</title>
    </head>

    <body class="d-flex flex-column min-vh-100">
        {# Возможно, если будут страницы с другим дизайном (например админ. панель), то следует использовать block #}
        {% include "base/header.html" %}
        <main>
            {% block content %} {% endblock %}
        </main>
        {% include "base/footer.html" %}

        {% bootstrap_javascript %}
        {% block extra_js %} {% endblock %}
    </body>

</html>
