{% load static %}
{% load bootstrap5 %}
{% block footer %}
<footer class="footer text-center text-lg-start bg-light text-muted mt-auto">
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          &copy; ШП, {% now "Y" %}, ms104.
          Сделано на <a class="text-reset fw-bold" href="https://getbootstrap.com">Bootstrap 5</a>
        </div>
</footer>
{% endblock %}
