{% load static %}
{% load bootstrap5 %}

<header>
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'Главная' %}"><img src="{% static 'img/botcreator_logo_white.png' %}" alt="logotype" style="height: 35px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/all_projects/">Все боты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Форум' %}">Форум</a>
                    </li>
                </ul>
                <form class="col-md-6">
                    {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control border border-right-0" id="search_label" placeholder="Искать проекты...">
                            <span class="input-group-append">
                                <button class="btn btn-outline-light border border-left-0" type="submit" style="height: 45px;">
                                    <i class="las la-search"></i>
                                </button>
                            </span>
                        </div>
                </form>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <a class="nav-link" href="/profile/{{ profile.id }}">{{ user.username }}</a>
                        <a class="nav-link" href="/logout">Выйти</a>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        <a class="nav-link" href="{% url 'login' %}">Вход</a>
                        <a class="nav-link" href="{% url 'Регистрация' %}">Регистрация</a>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
